// mixins.scss

// Миксин для изменения размера текста
@mixin responsive-font($desktop, $tablet, $mobile) {
  font-size: $desktop;

  @media (max-width: 1024px) {
    font-size: $tablet;
  }

  @media (max-width: 768px) {
    font-size: $mobile;
  }
}

// Миксин для адаптации отступов
@mixin responsive-padding($desktop, $tablet, $mobile) {
  padding: $desktop;

  @media (max-width: 1024px) {
    padding: $tablet;
  }

  @media (max-width: 768px) {
    padding: $mobile;
  }
}

// Миксин для скрытия элементов на мобильных
@mixin hide-on-mobile {
  @media (max-width: 768px) {
    display: none;
  }
}
