// variables.scss

// Цвета
$color-primary: green;
$color-secondary: black;
$color-background: #e7eef4;
$color-shadow: rgba(0, 0, 0, 0.2);

// Шрифты
$font-primary: "Bitter", sans-serif;
$font-secondary: "Arial", sans-serif;
