@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as vars;

.mnemo {
	position: relative;
	width: 1616px;
	margin: 0 auto;
  background-color: white;

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    text-align: center;
    @include mixins.text-style(32px, 32px, 600, vars.$hulk);

    &Span {
      color: black;
      @include mixins.text-style(22px, 30px, 600, black);
    }
  }

  &__param {
    padding: 2px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

    &.enabledHover {
      &:hover {
        background-color: green;
        
        .mnemo__param-text {
          color: white;
        }
      }
    
      &:active {
        box-shadow: 0 0 0 3px white, 0 0 0 6px green;
        
        .mnemo__param-text {
          color: white;
        }
      }
    }

    &-text{
      @include mixins.text-style(16px, 16px, 600, vars.$blue);
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    &-naimenov {
      @include mixins.text-style(18px, 18px, 600, vars.$blue);
    }

    &-descr {
      position: absolute;
      z-index: 1;
      text-align: center;
      @include mixins.text-style(15px, 14px, 600, vars.$hunter-green);
      
    }

  }

  &__img {
    width: 1616px;
    opacity: 1;
  }
}

.mnemo__kranContainer {
	position: absolute;
	z-index: 1;
	top: 16.5%;
	left: 11.5%;
}

.mnemo__gif {
	position: absolute;
	top: 46%;
	left: 33%;
	z-index: 1;

  &-1 {
    top: 56.6%;
    left: 12.2%;
  }

  &-2 {
    top: 16.5%;
    left: 95.7%;

    & img {
    width: 40px;
    height: 90px;
    }
  }

  &-3 {
    top: 68%;
    left: 88.1%;

    & img {
      width: 65px;
      height: 60px;
      animation: rotate 1s infinite linear;
      animation-play-state: paused; /* Изначально анимация приостановлена */
    }
  }

  &-4 {
    top: 74%;
    left: 11.33%;

    & img {
      width: 35px;
      height: 30px;
      animation: rotate 1s infinite linear;
      animation-play-state: paused; /* Изначально анимация приостановлена */
    }
  }

  &-5 {
    top: 25%;
    left: 19%;

    & img {
      transform: rotate(-65deg);
    }
  }

  &-6 {
    top: 19%;
    left: 22.5%;

    & img {
      transform: rotate(-63deg);
    }
  }

  &-7 {
    top: 73%;
    left: 72.5%;
  }

  &-8 {
    top: 18.9%;
    left: 29%;

    & img {
      transform: rotate(-63deg);
    }
  }

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.topka {
  &_temper {
    top: 36.5%;
    left: 6%;
  }
  &_davl {
    top: 42%;
    left: 6%;
  }
  &Text {
    top: 40.5%;
    left: 20px;
  }
}

.kamera {
  &_smeshenia {
    top: 49%;
    left: 20%;
  }
  &_vigruzki {
    top: 49%;
    right: 22.9%;
  }
  &Text {
    text-align: center;
    top: 44%;
    left: 19.1%;
  }
  &VigruzkiText {
    text-align: center;
    top: 44%;
    right: 22.8%;
  }
}

.uhod {
  &_gazov {
    top: 22%;
    right: 21%;
  }
  &Text {
    top: 17%;
    right: 17%;
  }
}

.vozduh {
  &_razbavl {
    top: 69%;
    left: 9.5%;
  }
  &Text {
    text-align: left;
    top: 69%;
    left: 20px;
  }
}

.mosh {
  &_gorelki {
    top: 22%;
    left: 130px;
  }
  &GorelkiText {
    text-align: left;
    top: 22%;
    left: 20px;
  }
}

.zadanie {
  &_temper {
    top: 29%;
    left: 130px;
  }
  &TemperText {
    text-align: left;
    top: 29%;
    left: 20px;
  }
}

.barabanText {
  top: 50%;
	right: 50%;
}

.pluzdhSbrasyvatelText {
  top: 21%;
	left: 25%;
}

.liniyaParotushText {
  top: 15%;
	left: 30%;
}

.dymososText {
  top: 64%;
	right: 8%;
}

.gazText {
  text-align: left;
	top: 56%;
	left: 1%;
}

